.button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 12px 24px;
  margin: 10px 20px;
  border-radius: 4px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(
    to right,
    #2339fc 0%,
    #1c2dcc 51%,
    #101b7e 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  border: none;
}
.button:hover {
  background-position: right center;
}
